
html {
  background-color: #5D7F7F;
  font-family: 'Open Sans', sans-serif;
  color: #141919;
}
a {
  color: #43B2B2;
  text-decoration: none;
  font-size: 1.25em;
}
a:visited {
  color: #7b679e;
}
a:hover {
  color: #61FFFF;
}
h1 a {
  font-family: 'Fondamento', cursive;
  color: #6151FF;
}
header {
  background-color: #93B3C9;
  text-align: center;
  display: block;
  font-size: 2em;
}
nav {
  background-color: #93B3C9;
}
nav ul li{
  background-color: #364A4A;
  text-align: center;
  list-style-type: none;
  display: inline-block;
  margin: 4%;
  width: 150px;
  height: 50%;
}
aside{
  background-color: #DCEFF2;
  display: inline-table;
  height: 350px;
  width: 50%;
  margin: 0 auto;
}
#front-page-photo {
  padding: 2px;
  border: solid 5px #2184C9;
  margin: 0 20%;
  display: inline-block;
  width: 60%;
  height: auto;
  vertical-align: 50%;
}
#blurb{
  float: right;
  text-align: center;
}
footer{
  background-color: #93B3C9;
  text-align: center;
  display: block;
}
